{{#if @labs.members}}
  <h2><span id="cove-count"></span> Comments</h2>

  {{^if @member}}
    <p style="text-align: right;"><b>Sign in for reply notifications</b></p>
  {{/if}}

  <div id="cove"></div>
  
  {{#if @member}}
      <p style="text-align: right;"><b>Posting as {{#if @member.name}}{{@member.name}}{{else}}{{@member.email}}{{/if}}</b><br>
        Sign out to post anonymously</p>
  {{else}}
    <p style="text-align: right;"><b>Posting Anonymously</b><br>
    Sign in for reply notifications</p>
  {{/if}}

  {{!-- {{^if @member}}
    <p style="text-align: right;"><b>Posting Anonymously</b><br>
    Sign in for reply notifications</p>
  {{else if @member.name}}
    <p style="text-align: right;"><b>Posting as {{@member.name}}</b><br>
    Sign out to post anonymously</p>
  {{else}}
    <p style="text-align: right;"><b>Posting as {{@member.email}}</b><br>
        Sign out to post anonymously</p>
  {{/if}} --}}
  
  {{#if @member}}
    <script>
    const Cove = {
        publication: "c559f15929155481d23e455b116c626c",
        contentId: "{{id}}",
        memberId: "{{@member.uuid}}",
        memberEmail: "{{@member.email}}"
    }
    </script>
  {{else}}
    <script>
    const Cove = {
        publication: "c559f15929155481d23e455b116c626c",
        contentId: "{{id}}",
        memberId: "d6f2c199-2e34-41ec-8347-3b8fa4ab2873",
        memberEmail: "anonymous@jvanwinkle.com"
    }
    </script>
  {{/if}}

{{/if}}